$primary-color: #43425d;
$primary-color-dark: #3c3b54;
$primary-color-light: #8885cf;
$info-color: #26c6da;
$info-color-light: #80deea;
$success-color: #00ff7f;
$success-color-light: #00ff7f;
$white: #ffffff;
$pearl-white: #f4f4fb;
