@import "../../../styles/colors/colors.scss";

.sidebar {
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  .toggle-mobile {
    display: none;
  }

  .navitem {
    text-decoration: none;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px;

      .nav-text {
        margin-left: 10px;
        text-transform: capitalize;
      }
    }
  }

  .navitem:hover {
    text-decoration: none;

    div {
      background: $primary-color-dark;
    }
  }

  .active,
  .brand {
    div {
      background: $primary-color-dark;
    }
  }

  .active {
    div {
      border-left: 6px solid $primary-color-light;
      padding-left: 14px;

      i {
        color: $primary-color-light;
      }
    }
  }

  .brand {
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .brand-name {
      text-transform: uppercase;
    }
  }
}

//Everthing visible
.sidebar-full {
  width: 10%;
  .nav-text,
  .brand-name {
    display: block;
  }
}

//Icons visible
.sidebar-icons {
  width: auto;

  .nav-text,
  .brand-name {
    display: none;
  }
}

.sidebar-none {
  display: none;

  .nav-text,
  .brand-name {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .toggle-mobile {
      display: block;
    }

    .toggle-desktop {
      display: none;
    }
  }

  //Everthing visible
  .sidebar-full {
    width: 100%;
    .nav-text,
    .brand-name {
      display: block;
    }
  }

  //Icons visible
  .sidebar-icons {
    width: 100%;

    .nav-text,
    .brand-name {
      display: block;
    }
  }
}
