@import "../../../styles/colors/colors.scss";

.dash-content {
  margin-top: 90px;
}

//Chart
.chart-title-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
